body{
    background-attachment:fixed;
    background: black url(https://nationaltoday.com/wp-content/uploads/2020/11/National-Drummer-Day-1.jpg) no-repeat center;
    background-size:cover;
}

.caja{
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 3px solid rgb(113, 132, 201);
    background-color: rgba(150, 218, 235, 0.844);
    border-radius: 20px;
}

.boton_caja{
    background-color: rgb(41, 69, 94);
}

.contenedor{    
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

p{
    text-align: center;
    background-color: rgb(152, 181, 181);
    padding: 10px;
    border: 3px solid rgb(113, 132, 201);
    border-radius: 20px;
    margin: 5px;
}

.imagen{
    border: 3px solid rgb(113, 132, 201);
    border-radius: 20px;
    margin: 5px;
}

h3{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(66, 68, 65);
}

