body {
    background: #7f7fd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #dde7e6,
      #86a8e7,
      #e2e2e9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #d9e4e3,
      #e0e5ef,
      #eaeaf4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  #descripcion {
    resize: none;
  }
  
  .centrado {
    text-align: center;
    vertical-align: middle;
  }
  
  .bg-white {
    background-color: #ffffff;
  }

  .btn-success{
    background-color: white;
    color:darkslategray;
  }