h1{
    text-align: center;
    color: blue;
}


a:link{
    color: #cc0000;
    text-decoration: none;  
}

a:visited{
    color: #CCC;
    text-decoration: none;
}
a:hover{
    color: #fff;
    text-decoration: underline;
    background-color: #cc0000;
}
a:active{
    color: #cb1732;
    text-decoration: underline;
}